$jp-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Sans', 'Noto Sans', 'Noto Sans CJK JP', Meiryo, sans-serif;
$en-font-family: 'Jost*', 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Roboto', sans-serif;

$main-color: #5861c2;
$sub-color: #525bb9;
$button-color: #323579;
$button-hover-color: #1e2892;